<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095676718619-bcsof7rpblj5r933bbnqdfrldrmoaeqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095676718619-bcsof7rpblj5r933bbnqdfrldrmoaeqv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1095676718619-659a5ljme5bbedr4evrk3okefd2mqhim.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBr1ZQ6lRpQ-h4BGHfqM1ET-Q9d1hu3kEc</string>
	<key>GCM_SENDER_ID</key>
	<string>1095676718619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tiedsiren.tiedsiren</string>
	<key>PROJECT_ID</key>
	<string>com-tiedsiren</string>
	<key>STORAGE_BUCKET</key>
	<string>com-tiedsiren.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095676718619:ios:ef83930d8eab7a9d0d12be</string>
</dict>
</plist>